/* COLORS
orange: #ff974f

*/

body {
  /*background-color: #fcf2e6;*/
}

a {
  color: #3db6cc;
}

a:hover {
  color: #de5e14;
  text-decoration: none;
}

h1, h2 {
  color: #e88156;
}

#navbar {
  background-color: #f5b049;
}

.navbar .nav-divider {
  background-color: #f5b049;
}

.navbar-nav li a {
  color: #4a3830 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}


#logo {
  background-color: #4a3830;
  box-shadow: 0 0 0 4px #4a3830;
}

footer {
  background-color: #f6fae1;
}
