@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
		url("../fonts/flaticon.woff") format("woff"),
		url("../fonts/flaticon.ttf") format("truetype"),
		url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 2.5em;
	font-style: normal;
	margin: 0 0 0 15px;
	-o-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.flaticon-covered16:before {
	content: "\e000";
	font-size: 1.75em;
}

.flaticon-dessert4:before {
	content: "\e001";
	font-size: 1.75em;
	margin: 0;
}

.flaticon-guacamole:before {
	content: "\e003";
	font-size: 1.75em;
	margin: 0;
}

.flaticon-party1:before {
	content: "\e006";
	font-size: 1.75em;
}

/* Facebook */
.flaticon-facebook44:before {
	content: "\e002";
	margin: 0;
}

.flaticon-facebook44:hover {
	color: #3b5998;
}

/* Instagram */
.flaticon-instagram13:before {
	content: "\e003";
}

.flaticon-instagram13:hover {
	color: #517fa4;
}

/* Email */
.flaticon-mail22:before {
	content: "\e004";
}

.flaticon-mail22:hover {
	color: #ff8f00;
}
