@media screen and (max-width: 991px) {

  /* hide circle logo/display banner logo when links converge */
  #logo {
    display: none;
  }

  #logo-sm {
    display: block;
  }

  .navbar .nav-divider {
    margin: 0 8px;
  }

  /* need to add another dot when links converge */
  #center-dot {
    display: block;
  }

  #home-header {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  /* hide dots in hamburger menu */
  .navbar-collapse .nav > .nav-divider {
    display: none;
  }

  #center-dot {
    display: none;
  }

  /* hide banner logo */
  #logo-sm {
    display: none;
  }

  /* display "Brown Co-op" on left side of navbar */
  .navbar-brand {
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: 2.25em;
  }

  /* format hamburger menu */
  #nav-left {
    margin-bottom: 0;
  }

  .navbar-nav li a {
    line-height: 20px;
    font-size: 1em;
  }

  .navbar-nav li:hover {
    background-color: #da7d79;
  }

  .navbar-nav li a:hover {
    box-shadow: none;
  }

  #nav-left li:first-child a {
    padding-left: 15px;
  }

  #nav-right {
    margin-top: 0;
  }
}
