@media screen and (max-width: 991px) {

  /*****************************
    NAVBAR
  ******************************/

  /* hide circle logo/display banner logo when links converge */
  #logo {
    display: none;
  }

  #alt-title {
    display: inline-block;
  }

  .navbar .nav-divider {
    margin: 0 8px;
  }

  /* need to add another dot when links converge */
  #center-dot {
    display: block;
  }

  /*****************************
    MEMBERS
  ******************************/

  .members img {
    max-width: 150px;
  }

  .tooltip-inner {
    width: 130px;
  }

  /*****************************
    RECIPES
  ******************************/

  .nav-tabs.nav-justified > li > a {
    font-size: 1.15em;
  }

  .recipe-icon {
    left: 10px;
  }
}

@media screen and (max-width: 767px) {

  /*****************************
    NAVBAR
  ******************************/

  .navbar {
    background-color: #5e382b;
  }

  /* hide dots in hamburger menu */
  .navbar-collapse .nav > .nav-divider {
    display: none;
  }

  #center-dot {
    display: none;
  }

  #alt-title {
    display: none;
  }

  /* display site name on navbar */
  .navbar-brand {
    display: block;
  }

  /* format hamburger menu */
  #nav-left {
    margin-bottom: 0;
  }

  .navbar-nav li a {
    line-height: 20px;
    font-size: 1em;
    padding-left: 20px;
  }

  .navbar-nav li:hover {
    background-color: #da7d79;
  }

  .navbar-nav li a:hover {
    box-shadow: none;
  }

  #nav-right {
    margin-top: 0;
  }

  .current-page {
    border-left: 5px solid #fff;
    box-shadow: none;
  }

  .current-page a {
    padding-left: 15px !important;
  }

  /*****************************
    JUMBOTRON
  ******************************/

  .jumbotron {
    height: 200px;
  }

  .jumbotron h1 {
    font-size: 2.5em;
  }

  /*****************************
    HOME PAGE
  ******************************/

  #carousel {
    display: none;
  }

  /*****************************
    RECIPES
  ******************************/
  #recipes-nav .nav-tabs.nav-justified > li > a {
    border-left: 1px solid #e2f8f4;
  }

  .recipe-icon {
    left: 110px;
  }

  /*****************************
    FOOTER
  ******************************/

  #copyright {
    text-align: center;
  }

  #copyright p {
    line-height: 1.2em;
  }

  .icons {
    text-align: center;
  }
}
